.c-task {
  padding: 1.6rem;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 1.2rem;

  background-color: var(--blue-500--faded);
  border: 1px solid var(--blue--dark--faded);
  border-radius: var(--small-border-radius);

  transition:
    box-shadow 200ms ease,
    border 200ms ease;
}

.c-task--completed {
  opacity: 0.8;
}


.c-task:hover {
  box-shadow: var(--blue-underglow--soft);
  border: 1px solid var(--blue);
}

.c-task__title {
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--blue-200);
}

.c-task__actions {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.c-task__actions__delete-btn {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background-color: transparent;

  cursor: pointer;
}
.c-task__actions__delete-btn:hover 
  .c-task__actions__delete-btn__icon {
  filter: var(--trash-icon-underglow);
  color: var(--danger);
}

.c-task__actions__delete-btn__icon {
  color: var(--blue-300);
  transition:
    color 200ms ease,
    filter 200ms ease;
}



.c-checkbox {
  
}

.c-checkbox__input {
  display: none;
  pointer-events: none;
}

.c-checkbox__label {
  position: relative;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  z-index: 1;
}

.c-checkbox__label::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 6px;
  background-color: var(--blue-700--faded);
  z-index: -1;

  transition: 
    box-shadow 
    200ms 
    cubic-bezier(0.76, 0, 0.24, 1);
}

.c-checkbox__label:hover::before {
  box-shadow: var(--checkmark-faded-underglow);
}

.c-checkbox__label:hover 
  .c-checkbox__icon 
    .c-checkbox__icon__checkbox-faded {
  stroke: var(--blue);
}

.c-checkbox__icon {
  width: 2.4rem;
  height: 2.4rem;

  stroke: var(--blue);
  fill: transparent;
  stroke-width: 5;

  cursor: pointer;
}

.c-checkbox__icon__checkbox-faded {
  stroke: var(--blue--dark);
  transition: stroke 200ms ease;
}

.c-checkbox__icon__checkbox {
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  stroke-width: 5;
  stroke: var(--blue--dark);
  transition:
    stroke-dashoffset 
    500ms 
    cubic-bezier(0.76, 0, 0.24, 1),
    stroke 
    500ms 
    cubic-bezier(0.76, 0, 0.24, 1);
}

.c-checkbox__icon__checkmark {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
  stroke-width: 5;
  stroke: var(--blue--dark);

  transition:
    stroke-dashoffset 
    500ms 
    cubic-bezier(0.76, 0, 0.24, 1),
    stroke 
    500ms 
    cubic-bezier(0.76, 0, 0.24, 1);
}

.c-checkbox__input:checked + 
    .c-checkbox__label::before {
  box-shadow: var(--checkmark-completed-underglow);
}

.c-checkbox__input:checked + 
  .c-checkbox__label 
    .c-checkbox__icon__checkbox {
  stroke-dashoffset: 0;
  stroke: var(--green);
  transition:
    stroke-dashoffset 
    500ms 
    cubic-bezier(0.76, 0, 0.24, 1),
    stroke 
    100ms 
    linear 200ms;
}

.c-checkbox__input:checked + 
  .c-checkbox__label 
    .c-checkbox__icon__checkmark {
  stroke-dashoffset: 0;
  stroke: var(--green);
  transition:
    stroke-dashoffset 
    500ms 
    cubic-bezier(0.76, 0, 0.24, 1),
    stroke 
    100ms 
    linear 
    200ms;
}
