.c-task {
  padding: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;

  background-color: var(--blue-500--faded);
  border: 1px solid var(--blue--dark--faded);
  border-radius: var(--small-border-radius);

  transition:
    box-shadow 200ms ease,
    border 200ms ease;


  &--completed {
    opacity: 0.8;
  }


  &:hover {
    box-shadow: var(--blue-underglow--soft);
    border: 1px solid var(--blue);
  }

  &__title {
    word-break: break-all;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--blue-200);
  }

  &__edit-area {
    margin-top: 0.3rem;
    width: 100%;
    // height: max-content;
    height: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--blue);

    resize: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--blue-200);

    transition: border-bottom 200ms ease;

    &:hover,
    &:focus {
      outline: none;
      border-bottom: 1px solid var(--blue--light);
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    gap: 1rem;

    &__save-btn {
      width: 2.4rem;
      height: 2.4rem;
      border: none;
      background-color: transparent;

      cursor: pointer;

      &__icon {
        width: 2.4rem;
        height: 2.4rem;
        
        color: var(--blue-300);
        transition:
          color 200ms ease,
          filter 200ms ease;
      }

      &:hover &__icon {
        filter: var(--save-icon-underglow);
        color: var(--green--dark);
      }
    }

    &__edit-btn {
      width: 2.4rem;
      height: 2.4rem;
      border: none;
      background-color: transparent;

      cursor: pointer;

      &__icon {
        width: 2.4rem;
        height: 2.4rem;

        color: var(--blue-300);
        transition: 
          color 200ms ease,
          filter 200ms ease;
      }

      &:hover &__icon {
        filter: var(--edit-icon-underglow);
        color: var(--blue);
      }
    }

    &__delete-btn {
      width: 2.4rem;
      height: 2.4rem;
      border: none;
      background-color: transparent;

      cursor: pointer;

      &__icon {
        width: 2.4rem;
        height: 2.4rem;
        color: var(--blue-300);
        transition:
          color 200ms ease,
          filter 200ms ease;
      }

      &:hover &__icon {
        filter: var(--trash-icon-underglow);
        color: var(--danger);
      }
    }
  }
}
:global(.t-light-theme) .c-task {
  background-color: rgba(161, 187, 219, 0.08);
}
:global(.t-light-theme) .c-task__title {
  color: var(--blue-300);
}



.c-checkbox {

  &__input {
    display: none;
    pointer-events: none;
  }

  &__label {
    position: relative;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0;
    z-index: 1;
  }

  &__label::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 6px;
    background-color: var(--blue-700--faded);
    z-index: -1;

    transition: 
      box-shadow 
      200ms 
      cubic-bezier(0.76, 0, 0.24, 1);
  }

  &__label:hover::before {
    box-shadow: var(--checkmark-faded-underglow);
  }

  &__label:hover 
    &__icon 
      &__icon__checkbox-faded {
    stroke: var(--blue);
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;

    stroke: var(--blue);
    fill: transparent;
    stroke-width: 5;

    cursor: pointer;

    &__checkbox {
      stroke-dasharray: 320;
      stroke-dashoffset: 320;
      stroke-width: 5;
      stroke: var(--blue--dark);
      transition:
        stroke-dashoffset 
        500ms 
        cubic-bezier(0.76, 0, 0.24, 1),
        stroke 
        500ms 
        cubic-bezier(0.76, 0, 0.24, 1);

      &-faded {
        stroke: var(--blue--dark);
        transition: stroke 200ms ease;
      }
    }

    &__checkmark {
      stroke-dasharray: 70;
      stroke-dashoffset: 70;
      fill: none;
      stroke-width: 5;
      stroke: var(--blue--dark);

      transition:
        stroke-dashoffset 
        500ms 
        cubic-bezier(0.76, 0, 0.24, 1),
        stroke 
        500ms 
        cubic-bezier(0.76, 0, 0.24, 1);
    }
  }

  &__input:checked + 
      &__label::before {
    box-shadow: var(--checkmark-completed-underglow);
  }

  &__input:checked + 
    &__label 
      &__icon__checkbox {
    stroke-dashoffset: 0;
    stroke: var(--green);
    transition:
      stroke-dashoffset 
      500ms 
      cubic-bezier(0.76, 0, 0.24, 1),
      stroke 
      100ms 
      linear 200ms;
  }

  &__input:checked + 
    &__label 
      &__icon__checkmark {
    stroke-dashoffset: 0;
    stroke: var(--green);
    transition:
      stroke-dashoffset 
      500ms 
      cubic-bezier(0.76, 0, 0.24, 1),
      stroke 
      100ms 
      linear 
      200ms;
  }
}
:global(.t-light-theme) 
  .c-checkbox__label::before {
  background-color: rgba(161, 187, 219, 0.2);
}

:global(.t-light-theme) 
  .c-checkbox__icon__checkbox-faded {
  stroke: var(--blue);
}

:global(.t-light-theme)
  .c-checkbox__input:checked +
    .c-checkbox__label
      .c-checkbox__icon__checkbox,
:global(.t-light-theme)
  .c-checkbox__input:checked +
    .c-checkbox__label
      .c-checkbox__icon__checkbox-faded,
:global(.t-light-theme)
  .c-checkbox__input:checked +
    .c-checkbox__label
      .c-checkbox__icon__checkmark {
  stroke: var(--green--dark);
}
