.o-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  max-width: 90rem;

  border-radius: var(--huge-border-radius);
  border: 1px solid var(--blue--dark--faded);
  background:
    radial-gradient(
      circle at center,
      rgba(9, 30, 35, 0.2) 0,
      rgba(10, 18, 39, 0.2) 50%,
      rgba(7, 32, 37, 0.2) 100%
    ),
    rgba(66, 82, 105, 0.1);
  backdrop-filter: blur(var(--default-bg-blur));
}

.c-board-layout {
  width: 100%;
  max-width: 73rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;

  transform: translateY(-2.7rem);
}


/* HEADER */
.c-board-header {
  padding: 3.3rem;
  width: 100%;
  height: 18rem;
  border-radius: var(--huge-border-radius);
  background-color: var(--blue-700--faded);
}

.c-board-header__logo-box {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.c-board-header__logo-box__header {
  max-height: 3.6rem;
}



/* TASK FORM */
.c-task-form {
  width: 100%;
  /* max-width: 73rem; */
  display: flex;
  gap: 0.8rem;
}

.c-task-form__group {
  width: 100%;
  position: relative;
  display: flex;
}

.c-task-form__group__input {
  width: 100%;
  padding: 1.6rem;

  background-color: var(--blue-500--faded);
  backdrop-filter: blur(var(--default-bg-blur));
  border: 1px solid var(--blue--dark--faded);
  border-radius: var(--medium-border-radius);

  color: var(--blue-300);

  transition: 
    color 200ms ease,
    box-shadow 200ms ease,
    border 200ms ease,
    background-color 200ms ease;
}
.c-task-form__group__input::placeholder {
  opacity: 1;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: inherit;
}
.c-task-form__group__input:hover, 
.c-task-form__group__input:focus {
  outline: none;
  box-shadow: var(--green-underglow--soft);
  border: 1px solid var(--green);
  color: var(--blue-200);
}

.c-task-form__group__label {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  font-size: 1.6rem;
  color: var(--blue-200);
  transform: translateY(-5rem);

  transition: 
    transform 200ms ease,
    opacity 200ms ease;
}

.c-task-form__group__input:placeholder-shown + .c-task-form__group__label {
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
}



/* TASK LIST CONTENT */
.o-task-list-content {
  width: 100%;
}

.c-tasks-info {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.c-tasks-info__tasks-created {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--blue);
}

.c-tasks-count {
  display: inline-block;
  padding: 0.2rem 0.8rem;

  border-radius: 100px;
  background-color: var(--blue-400);

  font-size: 1.2rem;
  font-weight: 400;
  color: var(--blue-200);

  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-tasks-info__tasks-concluded {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: var(--green);
}



.c-empty-tasklist {
  padding: 6.4rem 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: max-content;
}

.c-empty-tasklist__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-empty-tasklist__content__title {
  font-size: 1.6rem;
  font-weigth: 700;
}

.c-empty-tasklist__content__paragraph {
  margin-top: 0.4rem;
  font-size: 1.5rem;
}

.c-empty-tasklist__icon {
  width: 6.4rem;
  height: 6.4rem;
}

.o-tasks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
